<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastrarUsuarioController</servlet-name>
        <servlet-class>controller.CadastrarUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuController</servlet-name>
        <servlet-class>controller.MenuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarUsuarioController</servlet-name>
        <servlet-class>controller.ListarUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarUsuarioController</servlet-name>
        <servlet-class>controller.DeletarUsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuarioController</servlet-name>
        <servlet-class>controller.EditarUsuarioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarUsuarioController</servlet-name>
        <url-pattern>/CadastrarUsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuController</servlet-name>
        <url-pattern>/MenuController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarUsuarioController</servlet-name>
        <url-pattern>/ListarUsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarUsuarioController</servlet-name>
        <url-pattern>/DeletarUsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuarioController</servlet-name>
        <url-pattern>/EditarUsuarioController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
